@import url(https://cdn.jsdelivr.net/gh/sun-typeface/SUIT/fonts/variable/woff2/SUIT-Variable.css);
.wrapper {
  width: 100%;
  height: 100%;
  min-height: calc(var(--vh, 1vh) * 100);
  margin: 0 auto;
}

.header-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid rgba(12, 12, 12, 0.1);
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);
  transition: all 0.2s ease-in-out;
  z-index: 100;
}
.header-wrapper.transparent {
  background-color: transparent;
  backdrop-filter: none;
  -webkit-backdrop-filter: none;
  border: unset;
  transition: all 0.2s ease-in-out;
}
.header-wrapper.transparent .header {
  color: #ffffff;
}
.header-wrapper.transparent .header .left li a {
  opacity: 0.7;
}
.header-wrapper.transparent .header .left li:not(:last-child)::after {
  opacity: 0.7;
}
.header-wrapper.transparent .header .right a {
  color: #ffffff;
}
.header-wrapper.transparent .header .right .search {
  background-color: rgba(5, 21, 30, 0.5);
}
.header-wrapper.transparent .header .right .search img {
  opacity: 1;
}
.header-wrapper.transparent .header .right .search input {
  color: #ffffff;
}
.header-wrapper.transparent .header .right .search input::placeholder {
  color: #ffffff;
}
.header-wrapper.transparent .header .profile .nickname {
  color: #ffffff;
  opacity: 0.7;
}
.header-wrapper .header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1440px;
  padding: 10px 60px;
  margin: 0 auto;
}
.header-wrapper .header .left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 40px;
  height: 100%;
  padding-right: 10px;
}
.header-wrapper .header .left a {
  display: flex;
}
.header-wrapper .header .left .logo {
  height: 40px;
  cursor: pointer;
}
.header-wrapper .header .left ul {
  display: flex;
  font-size: 15px;
  letter-spacing: -0.2px;
}
.header-wrapper .header .left li {
  position: relative;
}
.header-wrapper .header .left li a {
  display: block;
  padding: 10px 15px;
  opacity: 0.5;
}
.header-wrapper .header .left li:not(:last-child)::after {
  position: absolute;
  top: 50%;
  right: -2.375px;
  transform: translateY(-50%);
  content: "|";
  display: block;
  opacity: 0.5;
}
.header-wrapper .header .left li.active a {
  opacity: 1;
}
.header-wrapper .header .right {
  flex: 0 0 auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header-wrapper .header .right a {
  font-size: 14px;
  color: #0c0c0c;
  line-height: 1;
  letter-spacing: -0.2px;
  line-height: 40px;
  padding: 0 10px;
  margin-left: 2px;
}
.header-wrapper .header .right .search {
  display: flex;
  align-items: center;
  width: 300px;
  height: 40px;
  border-radius: 12px;
  background-color: #f5f5f7;
  backdrop-filter: blur(8px);
  padding: 0 12px 0 14px;
}
.header-wrapper .header .right .search img {
  width: 24px;
  height: 24px;
  object-fit: contain;
  mix-blend-mode: difference;
  opacity: 0.25;
}
.header-wrapper .header .right .search input {
  flex: 1;
  height: 100%;
  font-size: 14px;
  color: #0c0c0c;
  line-height: 1;
  letter-spacing: -0.2px;
  background-color: transparent;
  margin-right: 16px;
}
.header-wrapper .header .right .search input::placeholder {
  font-size: 14px;
  color: #0c0c0c;
  opacity: 0.5;
}
.header-wrapper .header-mobile {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 30px;
  margin: 0 auto;
}
.header-wrapper .header-mobile .left a {
  display: flex;
}
.header-wrapper .header-mobile .left .logo {
  height: 40px;
  cursor: pointer;
}
.header-wrapper .header-mobile .right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 12px;
  margin-right: -4px;
}
.header-wrapper .header-mobile .right img {
  width: 32px;
  height: 32px;
  object-fit: contain;
  padding: 4px;
  cursor: pointer;
  mix-blend-mode: difference;
}
.header-wrapper .header-search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 10px 30px;
}
.header-wrapper .header-search .search {
  flex: 1;
  display: flex;
  align-items: center;
  height: 40px;
  background-color: #f5f5f7;
  border-radius: 12px;
  padding: 0 12px 0 14px;
  margin-right: 4px;
}
.header-wrapper .header-search .search img {
  width: 24px;
  height: 24px;
  object-fit: contain;
  mix-blend-mode: difference;
  opacity: 0.25;
}
.header-wrapper .header-search .search input {
  flex: 1;
  height: 100%;
  font-size: 14px;
  color: #0c0c0c;
  line-height: 1;
  letter-spacing: -0.2px;
  background-color: transparent;
  margin-right: 16px;
}
.header-wrapper .header-search .search input::placeholder {
  font-size: 14px;
  color: #0c0c0c;
  opacity: 0.5;
}
.header-wrapper .header-search .mobile-menu {
  width: 32px;
  height: 32px;
  object-fit: contain;
  padding: 4px;
  margin-right: -4px;
  cursor: pointer;
  mix-blend-mode: difference;
}

.main {
  max-width: 1440px;
  min-height: 100vh;
  padding: 24px 60px;
  margin: 0 auto;
  margin-top: 60px;
}

.footer-wrapper {
  background-color: #0c0c0c;
}
.footer-wrapper .footer {
  width: 100%;
  max-width: 1440px;
  padding: 20px 60px 40px;
  margin: 0 auto;
}
.footer-wrapper span {
  font-size: 13px;
  color: #ffffff;
  opacity: 0.7;
}

@media (max-width: 1024px) {
  .header-wrapper .header {
    padding: 10px 30px;
  }
  .main {
    padding: 24px 30px;
  }
  .footer-wrapper .footer {
    padding: 20px 30px 40px;
  }
}
@media (max-width: 576px) {
  .header-wrapper .header {
    padding: 10px 15px;
  }
  .header-wrapper .header-mobile {
    padding: 10px 15px;
  }
  .header-wrapper .header-search {
    padding: 10px 15px;
  }
  .main {
    padding: 24px 0;
  }
  .footer-wrapper .footer {
    padding: 20px 15px 40px;
  }
}