.horizontal-videos-wrapper {
  padding: 12px 0 24px 0;
  margin-bottom: 42px;
}
.horizontal-videos-wrapper .title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}
.horizontal-videos-wrapper .title-wrapper h2 {
  font-size: 22px;
  font-weight: 800;
  color: #0c0c0c;
  letter-spacing: -0.2px;
}
.horizontal-videos-wrapper .title-wrapper button.more {
  display: flex;
  align-items: center;
  font-size: 15px;
  color: #0c0c0c;
  line-height: 1;
  letter-spacing: -0.2px;
  opacity: 0.5;
}
.horizontal-videos-wrapper .rank-content .img-wrapper {
  margin-bottom: 35px;
}
.horizontal-videos-wrapper .default-content .img-wrapper {
  margin-bottom: 10px;
}
.horizontal-videos-wrapper .img-wrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 2/3;
}
.horizontal-videos-wrapper .img-wrapper .thumbnail {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background-color: #f5f5f7;
}
.horizontal-videos-wrapper .img-wrapper .thumbnail::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  border: 1px solid rgba(12, 12, 12, 0.05);
  pointer-events: none;
}
.horizontal-videos-wrapper .img-wrapper .thumbnail .lazy-load-image-background {
  display: block;
  width: 100%;
  height: 100%;
}
.horizontal-videos-wrapper .img-wrapper .thumbnail img {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  object-fit: cover;
}
.horizontal-videos-wrapper .img-wrapper .number {
  position: absolute;
  bottom: -35px;
  left: -5px;
  display: flex;
}
.horizontal-videos-wrapper .img-wrapper .number img {
  position: relative;
  z-index: 1;
}
.horizontal-videos-wrapper .img-wrapper .number img:not(:first-child) {
  position: relative;
  margin-left: -18px;
  z-index: 0;
}
.horizontal-videos-wrapper .info .title {
  font-size: 16px;
  font-weight: 500;
  color: #0c0c0c;
  letter-spacing: -0.2px;
  line-height: 22px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 6px;
}
.horizontal-videos-wrapper .info .sub-title {
  font-size: 14px;
  font-weight: 500;
  color: #0c0c0c;
  letter-spacing: -0.2px;
  opacity: 0.8;
}
.horizontal-videos-wrapper .info .sub-title > span:not(:last-child) {
  margin-right: 8px;
}
.horizontal-videos-wrapper .swiper-container {
  position: relative;
  width: 100%;
}
.horizontal-videos-wrapper .swiper-container .swiper-slide {
  cursor: pointer;
}
.horizontal-videos-wrapper .swiper-container .swiper-button-prev,
.horizontal-videos-wrapper .swiper-container .swiper-button-next {
  position: absolute;
  top: 37%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
  padding: 5px;
  z-index: 10;
  cursor: pointer;
}
.horizontal-videos-wrapper .swiper-container .swiper-button-prev.swiper-button-disabled,
.horizontal-videos-wrapper .swiper-container .swiper-button-next.swiper-button-disabled {
  display: none;
}
.horizontal-videos-wrapper .swiper-container .swiper-button-prev svg,
.horizontal-videos-wrapper .swiper-container .swiper-button-next svg {
  color: rgba(0, 0, 0, 0.5);
}
.horizontal-videos-wrapper .swiper-container .swiper-button-prev {
  left: -17px;
}
.horizontal-videos-wrapper .swiper-container .swiper-button-next {
  right: -17px;
}
.horizontal-videos-wrapper .swiper-container .swiper-button-prev::after,
.horizontal-videos-wrapper .swiper-container .swiper-button-next::after {
  display: none;
}
.horizontal-videos-wrapper .swiper-container .swiper-button-prev::after,
.horizontal-videos-wrapper .swiper-container .swiper-button-next::after {
  display: none;
}

@media (max-width: 1024px) {
  .horizontal-videos-wrapper {
    margin-bottom: 36px;
  }
  .horizontal-videos-wrapper .rank-content .img-wrapper {
    margin-bottom: 30px;
  }
  .horizontal-videos-wrapper .img-wrapper .number {
    bottom: -31px;
  }
  .horizontal-videos-wrapper .img-wrapper .number img {
    width: 45px;
    height: 45px;
  }
  .horizontal-videos-wrapper .img-wrapper .number img:not(:first-child) {
    margin-left: -15px;
  }
  .horizontal-videos-wrapper .swiper-container .swiper-button-prev,
  .horizontal-videos-wrapper .swiper-container .swiper-button-next {
    top: 36%;
  }
}
@media (max-width: 576px) {
  .horizontal-videos-wrapper .rank-content .img-wrapper {
    margin-bottom: 25px;
  }
  .horizontal-videos-wrapper .img-wrapper .number {
    bottom: -25px;
  }
  .horizontal-videos-wrapper .img-wrapper .number img {
    width: 35px;
    height: 35px;
  }
  .horizontal-videos-wrapper .img-wrapper .number img:not(:first-child) {
    margin-left: -12px;
  }
  .horizontal-videos-wrapper .title-wrapper {
    padding-left: 15px;
  }
  .horizontal-videos-wrapper .info .title {
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 2px;
  }
  .horizontal-videos-wrapper .swiper-container .swiper {
    padding: 0 15px;
  }
  .horizontal-videos-wrapper .swiper-container .swiper-button-prev,
  .horizontal-videos-wrapper .swiper-container .swiper-button-next {
    display: none;
  }
}