.production-main {
  max-width: 1440px;
  min-height: calc(100vh - 80px);
  padding: 84px 60px 60px;
  margin: 0 auto;
}

.production-wrapper {
  width: 100%;
}

.production {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 20px;
}
.production .title {
  font-size: 30px;
  font-weight: 700;
  margin-top: 10px;
}

.production-contents {
  padding: 20px 0;
}