.production-main {
  max-width: 1440px;
  min-height: calc(100vh - 80px);
  padding: 84px 60px 60px;
  margin: 0 auto;
}

.production-wrapper {
  width: 100%;
  margin-bottom: 8px;
}
.production-wrapper .production {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 20px;
}
.production-wrapper .production .title {
  font-size: 30px;
  font-weight: 700;
}

@media (max-width: 1024px) {
  .production-main {
    padding: 84px 30px;
  }
}
@media (max-width: 576px) {
  .production-main {
    padding: 84px 0;
  }
  .production-wrapper {
    padding: 0 15px;
  }
  .production-wrapper .production .title {
    font-size: 20px;
  }
}