.bar-rating-wrapper {
  position: relative;
  display: grid;
}
.bar-rating-wrapper span {
  grid-column: 2;
  grid-row: 1;
  display: flex;
  align-items: flex-start;
  font-size: 13px;
  color: #ffffff;
}
.bar-rating-wrapper .bar-rating {
  position: relative;
  grid-column: 2;
  grid-row: 2;
  display: flex;
  align-items: flex-end;
}
.bar-rating-wrapper .bar-rating[data-rating="1"] .bar:nth-child(-n+1) {
  opacity: 1;
  background-color: #ff6874;
}
.bar-rating-wrapper .bar-rating[data-rating="2"] .bar:nth-child(-n+2) {
  opacity: 1;
  background-color: #ff6874;
}
.bar-rating-wrapper .bar-rating[data-rating="3"] .bar:nth-child(-n+3) {
  opacity: 1;
  background-color: #ffbd3f;
}
.bar-rating-wrapper .bar-rating[data-rating="4"] .bar:nth-child(-n+4) {
  opacity: 1;
  background-color: #00ce7a;
}
.bar-rating-wrapper .bar-rating[data-rating="5"] .bar:nth-child(-n+5) {
  opacity: 1;
  background-color: #00ce7a;
}
.bar-rating-wrapper .bar-rating-image {
  position: relative;
  grid-column: 1;
  grid-row: 1/3;
  width: 45px;
  height: 45px;
  border-radius: 12px;
  background-color: transparent;
  margin-right: 10px;
  overflow: hidden;
}
.bar-rating-wrapper .bar-rating-image::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  pointer-events: none;
}
.bar-rating-wrapper .bar-rating-image img {
  display: flex;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.bar-rating-wrapper .bars {
  display: grid;
  grid-template-columns: repeat(5, auto);
  gap: 4px;
  cursor: pointer;
}
.bar-rating-wrapper .bar {
  width: 30px;
  height: 12px;
  border-radius: 2px;
  opacity: 0.2;
}
.bar-rating-wrapper .bar:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.bar-rating-wrapper .bar:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.bar-rating-wrapper .bar[data-rating="1"], .bar-rating-wrapper .bar[data-rating="2"] {
  background-color: #ff6874;
}
.bar-rating-wrapper .bar[data-rating="3"] {
  background-color: #ffbd3f;
}
.bar-rating-wrapper .bar[data-rating="4"], .bar-rating-wrapper .bar[data-rating="5"] {
  background-color: #00ce7a;
}

@media (max-width: 576px) {
  .bar-rating-wrapper span {
    text-align: center;
  }
}