.bar-rating-wrapper {
  position: relative;
  display: inline-flex;
}
.bar-rating-wrapper .left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
.bar-rating-wrapper .bar-rating-image {
  position: relative;
  width: 45px;
  height: 45px;
  border-radius: 12px;
  background-color: transparent;
  margin-right: 10px;
  overflow: hidden;
}
.bar-rating-wrapper .bar-rating-image::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  pointer-events: none;
}
.bar-rating-wrapper .bar-rating-image img {
  display: flex;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.bar-rating-wrapper #ratingText {
  font-size: 13px;
  color: #ffffff;
}
.bar-rating-wrapper .bar-rating {
  position: relative;
  display: flex;
  gap: 4px;
  cursor: pointer;
}
.bar-rating-wrapper .bar-rating[data-rating="1"] .bar:nth-child(-n+1) {
  opacity: 1;
  background-color: #ff6874;
}
.bar-rating-wrapper .bar-rating[data-rating="2"] .bar:nth-child(-n+2) {
  opacity: 1;
  background-color: #ff6874;
}
.bar-rating-wrapper .bar-rating[data-rating="3"] .bar:nth-child(-n+3) {
  opacity: 1;
  background-color: #ffbd3f;
}
.bar-rating-wrapper .bar-rating[data-rating="4"] .bar:nth-child(-n+4) {
  opacity: 1;
  background-color: #00ce7a;
}
.bar-rating-wrapper .bar-rating[data-rating="5"] .bar:nth-child(-n+5) {
  opacity: 1;
  background-color: #00ce7a;
}
.bar-rating-wrapper .bar {
  flex: 1;
  min-width: 30px;
  height: 16px;
  border-radius: 2px;
  opacity: 0.2;
}
.bar-rating-wrapper .bar:first-child {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.bar-rating-wrapper .bar:last-child {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.bar-rating-wrapper .bar[data-rating="1"], .bar-rating-wrapper .bar[data-rating="2"] {
  background-color: #ff6874;
}
.bar-rating-wrapper .bar[data-rating="3"] {
  background-color: #ffbd3f;
}
.bar-rating-wrapper .bar[data-rating="4"], .bar-rating-wrapper .bar[data-rating="5"] {
  background-color: #00ce7a;
}