.user-main {
  min-height: calc(100vh - 80px);
  background: rgb(248, 248, 248);
  padding-top: 60px;
}

.user-wrapper {
  width: 640px;
  padding: 0px 20px 100px;
  margin: 40px auto 0px;
}

.user {
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.user .user-info {
  position: relative;
  width: 100%;
  background-color: #fff;
}
.user .settings {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
}
.user .background {
  width: 100%;
  height: 130px;
}
.user .background .lazy-load-image-background {
  width: 100%;
  height: 100%;
}
.user .background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.user .user-profile {
  padding: 15px;
  margin-top: -65px;
}
.user .user-profile .nickname {
  font-size: 21px;
  line-height: 26px;
  word-break: break-all;
  margin-top: 7px;
}
.user .user-profile .introduction {
  font-size: 15px;
  line-height: 22px;
  color: #7e7e7e;
  word-break: break-all;
  white-space: pre-wrap;
  margin-top: 10px;
}
.user .user-contents {
  display: flex;
  align-items: center;
  height: 60px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0 15px;
}
.user .user-contents a {
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 12px 0;
}
.user .user-contents a:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 1px;
  height: 12px;
  background: rgba(0, 0, 0, 0.1);
}
.user .user-contents .count {
  font-size: 16px;
  font-weight: 900;
  line-height: 16px;
}
.user .user-contents .count-label {
  font-size: 13px;
  color: #777;
  line-height: 16px;
}

.user-menu {
  position: absolute;
  top: 39px;
  right: 10px;
  min-width: 150px;
  border-radius: 6px;
  background-color: #ffffff;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
  padding: 5px 0;
  z-index: 10;
}
.user-menu ul li {
  font-size: 14px;
  font-weight: 500;
  padding: 8px 16px;
  cursor: pointer;
}
.user-menu ul li:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.user-menu ul .delete {
  color: red;
  opacity: 0.5;
}

@media (max-width: 768px) {
  .user-wrapper {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .user {
    border-radius: unset;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
}