*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

// TODO: 스크롤바 커스텀
*::-webkit-scrollbar {
  display: none;
}

html {
  font-size: 16px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "SUIT Variable", sans-serif;
  background-color: $color-background;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}

input {
  border: none;
  outline: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  letter-spacing: -0.2px;
  margin: 0;
}

em {
  font-style: normal;
}

figure {
  margin: 0;
}

.lazy-load-image-background {
  width: 100%;
  height: 100%;
}
