.footer-container {
  border-top: 1px solid $border-color-01;
  background-color: $color-background;
}

.footer-wrapper {
  display: flex;
  width: 100%;
  max-width: 1440px;
  padding: 20px 60px 40px;
  margin: 0 auto;
}

.footer-item {
  font-size: 13px;
  color: $color-white-01;
  opacity: 0.7;
}

@media (max-width: 1024px) {
  .foote-wrapper {
    padding: 20px 30px 40px;
  }
}

@media (max-width: 576px) {
  .footer-wrapper {
    padding: 20px 15px 40px;
  }
}
