.home-main-container {
  min-height: 100vh;
  padding-bottom: 60px;
  overflow: hidden;
}

.home-preview-section {
  position: relative;
  width: 100vw;
  height: 700px;
}

.preview-main-videos {
  width: 100%;
  height: 100%;
  z-index: -1;
}

.preview-background-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  clip-path: inset(0 0 0 0);

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: calc(50% + (175px / 2));
    background: linear-gradient(180deg, rgba($color-background, 0) 0%, rgba($color-background, 1) 80%);
    margin-bottom: calc(-175px / 2);
    pointer-events: none;
  }
}

.preview-background {
  display: block;
  width: 100%;
  height: 700px;
  background-size: cover;
  // background-position: top 20% left 50%;
  background-position: top 25% left 50%;
}

.preview-info-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-bottom: 20px;
  margin-bottom: calc(175px / 2);
}

.preview-info-wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  max-width: 1440px;
  padding: 0 60px;
  margin: 0 auto;
}

.preview-title-wrapper {
  flex: 1;
  margin-right: 24px;
}

.preview-title-og {
  font-size: 18px;
  font-weight: 600;
  color: $color-white-01;
  word-break: keep-all;
  margin-bottom: 2px;
}

.preview-title-kr {
  font-size: 45px;
  font-weight: 800;
  color: $color-white-01;
  word-break: keep-all;
}

.preview-release {
  display: flex;

  span {
    font-size: 14px;
    font-weight: 600;
    color: $color-white-03;

    & + span {
      margin-left: 8px;
    }
  }
}

.preview-videos-container {
  position: absolute;
  bottom: 0;
  transform: translateY(50%);
  width: 100%;
}

.preview-videos-wrapper {
  max-width: 1440px;
  padding: 0 60px;
  margin: 0 auto;
}

.preview-videos {
  border-radius: 24px;
}

.preview-video-item {
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: calc(25% - 18px);
  height: 175px;
  cursor: pointer;
}

.preview-video-link {
  width: 100%;
  height: 100%;
}

.swiper-slide-thumb-active {
  .preview-thumbnail-wrapper {
    &::after {
      border: 3px solid $color-white-01;
      transition: border 0.3s ease-in-out;
    }
  }
}

.preview-thumbnail-wrapper {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 24px;
    border: 1px solid $border-color-01;
    transition: border 0.3s ease-in-out;
  }
}

.preview-thumbnail-image {
  display: flex;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 24px;
}

/*
.preview-card {
  position: absolute;
  top: 7px;
  left: 7px;

  span {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    font-size: 12px;
    font-weight: 800;
    color: $color-white-01;
    line-height: 14px;
    border-radius: 6px;
    background-color: red;
    padding: 0 5px;
  }
}
*/

.home-main-section {
  width: 100%;
  max-width: 1440px;
  padding-top: 36px;
  margin: calc(175px / 2) auto 0;
}

.horizontal-title {
  &.genre {
    display: flex;
    align-items: center;

    svg {
      margin-right: 4px;
    }
  }
}

.horizontal-prev-button,
.horizontal-next-button {
  &.genre {
    top: 50%;
  }
}

.genre-video-link {
  position: relative;
  display: flex;
  width: 100%;
  aspect-ratio: 16 / 9;
}

.genre-thumbnail-wrapper {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;

  &.active {
    &::after {
      border: 3px solid $color-white-01;
      transition: border 0.3s ease-in-out;
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 14px;
    border: 1px solid $border-color-01;
    background-color: rgba($color-black, 0.5);
    backdrop-filter: blur(4px);
    transition: border 0.3s ease-in-out;
  }
}

.genre-thumbnail-image {
  display: flex;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 14px;
}

.genre-video-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  font-size: 24px;
  font-weight: 800;
  color: $color-white-01;
  word-break: keep-all;
  text-align: center;
  padding: 0 10px;
  z-index: 10;
}

@media (max-width: 1280px) {
  .preview-video-item {
    min-width: calc(33.3333% - 12px);
  }
}

@media (max-width: 1024px) {
  .preview-info-wrapper {
    padding: 0 30px;
  }

  .preview-videos-wrapper {
    padding: 0 30px;
  }
}

@media (max-width: 768px) {
  .preview-info-wrapper {
    flex-direction: column;
    align-items: flex-start;
  }

  .preview-title-kr {
    font-size: 40px;
  }

  .preview-release-wrapper {
    margin-top: 8px;
  }

  .preview-video-item {
    min-width: calc(50% - 6px);
  }
}

@media (max-width: 576px) {
  .home-preview-section {
    height: 500px;
  }

  .preview-background-wrapper {
    &::after {
      height: calc(50% + (150px / 2));
      background: linear-gradient(180deg, rgba($color-background, 0) 0%, rgba($color-background, 1) 78%);
      margin-bottom: calc(-150px / 2);
    }
  }

  .preview-background {
    height: 500px;
  }

  .preview-info-container {
    padding-bottom: 12px;
    margin-bottom: calc(150px / 2);
  }

  .preview-info-wrapper {
    padding: 0 15px;
  }

  .preview-title-og {
    font-size: 14px;
  }

  .preview-title-kr {
    font-size: 36px;
  }

  .preview-videos-wrapper {
    padding: 0;
  }

  .preview-videos {
    border-radius: unset;
    padding: 0 15px;
  }

  .preview-video-item {
    min-width: 267px;
    height: 150px;
  }

  .home-main-section {
    margin-top: calc(150px / 2);
    padding-top: 24px;
  }

  .horizontal-title {
    &.genre {
      svg {
        width: 20px;
        height: 20px;
      }
    }
  }

  .genre-video-title {
    font-size: 17px;
  }
}
