.home-main {
  min-height: 100vh;
  overflow: hidden;
}

.home-preview-wrapper {
  position: relative;
}

.home-main-wrapper {
  width: 100%;
  max-width: 1440px;
  padding: 84px 60px 24px;
  margin: 0 auto;
}

@media (max-width: 1024px) {
  .home-main-wrapper {
    padding: 84px 30px;
  }
}

@media (max-width: 576px) {
  .home-main-wrapper {
    padding: 84px 0;
  }
}
