.menu-modal {
  position: fixed;
  top: 0;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 100%;
  background-color: rgba(0, 0, 0, 0.56);
  z-index: 999;

  .menu {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
    background-color: $color-background;
  }

  .top {
    width: 100%;
    border-bottom-right-radius: 40px;
    background-color: rgba($color-white-01, 0.1);
    padding: 36px 15px 13px;
  }

  .close {
    position: absolute;
    top: 16px;
    right: 12px;
    font-size: 20px;
    cursor: pointer;
  }

  .menu-user {
    display: flex;
    align-items: center;
    width: 100%;

    .login {
      display: flex;
      align-items: center;
      font-size: 15px;
      font-weight: 600;
      color: $color-white-01;
      padding: 8px 0;

      img {
        width: 28px;
        border-radius: 50%;
        margin-right: 8px;
      }
    }

    .profile {
      .profile-nickname {
        font-weight: 600;
        color: $color-white-01;
      }
    }
  }

  .bottom {
    padding: 24px 15px;

    & > p {
      font-size: 14px;
      font-weight: 600;
      color: $color-white-04;
      margin-bottom: 8px;
    }
  }

  .menu-list {
    border-bottom: 1px solid $border-color-01;
    padding-bottom: 16px;

    li {
      font-size: 17px;
      font-weight: 600;

      a {
        display: block;
        color: $color-white-02;
        padding: 8px 4px;
      }
    }
  }
}
