.join-main-container {
  width: 100%;
  max-width: 720px;
  height: 100%;
  min-height: calc(100vh - 80px);
  padding: 60px;
  margin: 0 auto;
}

.join-header {
  width: 100%;
  text-align: center;
  padding: 32px 0 20px;
}

.join-header-logo {
  width: 200px;
  height: auto;
}

.join-header-title {
  font-size: 17px;
  color: $color-white-01;
  margin: 24px 0 20px;
}

.join-agree-title {
  font-size: 17px;
  color: $color-white-01;
  margin-bottom: 20px;
}

.join-agree-form {
  & > div {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
  }

  input {
    -webkit-appearance: none;
    position: relative;
    width: 14px;
    height: 14px;
    border-radius: 5px;
    background: rgba($color-white-01, 0.1);
    border: 1px solid $border-color-03;
    margin: 4px;
    cursor: pointer;

    &:checked {
      border-color: $color-white-02;
      background: $color-magenta;
      background: -webkit-linear-gradient(to right, rgba($color-cyan, 0.75), rgba($color-magenta, 0.75));
      background: linear-gradient(to right, rgba($color-cyan, 0.75), rgba($color-magenta, 0.75));

      &::before {
        display: block;
      }
    }

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: none;
      width: 100%;
      height: 100%;
      background-image: url("/assets/button/check.svg");
      background-size: contain;
      background-repeat: no-repeat;
      pointer-events: none;
    }
  }

  label {
    font-size: 15px;
    color: $color-white-02;
    line-height: 21px;
    margin-left: 4px;
    cursor: pointer;
  }
}

.join-agree-all {
  border-bottom: 1px solid $border-color-01;
  padding-bottom: 12px;
}

.join-agree-button {
  width: 100%;
  height: 48px;
  font-size: 15px;
  font-weight: 500;
  color: $color-white-01;
  border-radius: 12px;
  background-color: $color-white-08;
  margin-top: 12px;
  transition: background-color 0.3s;

  &:disabled {
    opacity: 0.4;
  }
}

@media (max-width: 768px) {
  .join-main-container {
    position: fixed;
    background-color: $color-background;
    padding: 60px 30px;
    z-index: 200;
  }

  .join-agree-form {
    & > div {
      align-items: flex-start;
    }

    label {
      font-size: 14px;
    }
  }
}

@media (max-width: 576px) {
  .join-main-container {
    padding: 60px 15px 16px;
  }
}
