.reviews-main-container {
  min-height: calc(100vh - 80px);
  padding: 60px 0;
}

.reviews-title-section {
  max-width: 1440px;
  padding: 12px 0 0;
  margin: 0 auto;
}

.reviews-title {
  display: block;
  font-size: 16px;
  font-weight: 600;
  color: $color-white-04;
  line-height: 20px;
  padding: 15px 60px 0;

  em {
    font-weight: 800;
    color: $color-white-01;
  }
}

.reviews-content-section {
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px 60px;
}

.user-review-item {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: $color-white-09;
  border-radius: 14px;
  padding: 0 15px;
  margin-bottom: 15px;

  .profile-nickname {
    flex: 1;
    color: $color-white-02;
    // 1줄 이상일때 생략
    display: -webkit-box;
    -webkit-line-clamp: 1;
    overflow: hidden;
    -webkit-box-orient: vertical;
  }
}

.user-review-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid $border-color-01;
}

.user-review-body {
  flex: 1;
  padding: 10px 0;
  cursor: pointer;

  &[data-spoiler="true"] {
    .user-review-content {
      position: relative;

      &[data-active="true"] {
        &:hover {
          &::before {
            background-color: $color-white-07;
          }
        }

        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border-radius: 6px;
          background-color: $color-white-08;
          z-index: 999;
          cursor: pointer;
        }
      }
    }
  }
}

.user-review-content {
  font-size: 15px;
  color: $color-white-03;
  line-height: 24px;
  white-space: pre-wrap;
  z-index: 0;

  // 5줄 이상일때 생략
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.user-review-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid $border-color-01;
}

.user-review-date {
  font-size: 14px;
  color: $color-white-06;
}

@media (max-width: 1024px) {
  .reviews-title {
    padding: 15px 30px 0;
  }

  .reviews-content-section {
    padding: 20px 30px;
  }
}

@media (max-width: 576px) {
  .reviews-title {
    padding: 15px 15px 0;
  }

  .reviews-content-section {
    padding: 20px 15px;
  }
}
