.user-main {
  min-height: calc(100vh - $footer-height);
  padding-top: 60px;
}

.user-wrapper {
  width: 640px;
  padding: 0px 20px 100px;
  margin: 40px auto 0px;
}

.user {
  border-radius: 14px;
  overflow: hidden;

  .user-info {
    position: relative;
    width: 100%;
    background-color: rgba($color-white-09, 0.5);
  }

  .settings {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    padding: 10px;
    cursor: pointer;
    z-index: 1;

    svg {
      path {
        fill: $color-white;
      }
    }
  }

  .background {
    width: 100%;
    height: 130px;
    opacity: 0.25;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .user-profile {
    padding: 15px;
    margin-top: calc(-130px / 2);

    .nickname {
      font-size: 21px;
      color: $color-white-01;
      line-height: 26px;
      word-break: break-all;
      margin-top: 7px;
    }

    .introduction {
      font-size: 15px;
      line-height: 22px;
      color: $color-white-04;
      word-break: break-all;
      white-space: pre-wrap;
      margin-top: 10px;
    }
  }

  .user-contents {
    display: flex;
    align-items: center;
    height: 60px;
    border-top: 1px solid $border-color-01;
    padding: 0 15px;

    a {
      flex: 1;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      height: 100%;
      padding: 12px 0;

      & + a::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: 1px;
        height: 20px;
        background: rgba($color-white-01, 0.1);
      }
    }

    .count {
      font-size: 16px;
      font-weight: 900;
      color: $color-white-01;
      line-height: 16px;
    }

    .count-label {
      font-size: 13px;
      color: $color-white-04;
      line-height: 16px;
    }
  }
}

.user-menu {
  position: absolute;
  top: 39px;
  right: 10px;
  min-width: 150px;
  border-radius: 12px;
  background-color: $color-white-09;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25), 0 0 1px rgba(0, 0, 0, 0.5);

  padding: 5px 0;
  z-index: 10;

  ul {
    li {
      font-size: 14px;
      font-weight: 500;
      color: $color-white-01;
      padding: 8px 16px;
      cursor: pointer;

      & + li {
        border-top: 1px solid $border-color-01;
      }
    }

    .delete {
      color: $color-red;
    }
  }
}

@media (max-width: 768px) {
  .user-wrapper {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .user {
    border-radius: unset;
    border: none;
    border-bottom: 1px solid $border-color-01;
  }
}
