.rank-video-item {
  cursor: pointer;
}

.rank-thumbnail-container {
  position: relative;
  width: 100%;
  aspect-ratio: 2 / 3;
}

.rank-thumbnail-wrapper {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: transparent;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 14px;
    border: 1px solid $border-color-01;
  }
}

.rank-thumbnail {
  display: flex;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 14px;
}

.rank-code-wrapper {
  position: absolute;
  top: 6px;
  left: 6px;
}

.rank-code {
  font-size: 13px;
  font-weight: 600;
  color: $color-white-04;
  line-height: 25px;
  border-radius: 8px;
  background-color: $color-white-09;
  padding: 0 8px;
}

.rank-number-wrapper {
  position: absolute;
  bottom: -14px;
  right: -8px;
  display: flex;
  z-index: 10;
}

.rank-number {
  position: relative;
  z-index: 10;

  &:not(:first-child) {
    margin-left: -32px;
    z-index: 9;
  }

  &[data-number="1"] {
    + .rank-number {
      margin-left: -40px;
      z-index: 9;
    }
  }
}

.rank-info-container {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
}

.rank-title-wrapper {
  flex: 1;
}

.rank-title {
  font-size: 15px;
  font-weight: 600;
  color: $color-white-01;
  line-height: 20px;
  letter-spacing: -0.2px;

  // 1줄 이상일 경우 생략 부분 처리
  display: -webkit-box;
  -webkit-line-clamp: 1;
  overflow: hidden;
  -webkit-box-orient: vertical;
}

.rank-subtitle-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 6px;
}

.rank-subtitle {
  font-size: 13px;
  font-weight: 600;
  color: $color-white-04;
  letter-spacing: -0.2px;

  & > span:not(:last-child) {
    margin-right: 8px;
  }
}

.rank-rating-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  margin-left: 8px;

  &[data-rating="0"] {
    .rank-rating-square {
      background-color: $color-white-08;
    }
    .rank-rating {
      color: $color-white-08;
    }
  }
  &[data-rating="1"],
  &[data-rating="2"] {
    .rank-rating-square {
      background-color: $color-red;
    }
    .rank-rating {
      color: $color-red;
    }
  }
  &[data-rating="3"] {
    .rank-rating-square {
      background-color: $color-yellow;
    }
    .rank-rating {
      color: $color-yellow;
    }
  }
  &[data-rating="4"],
  &[data-rating="5"] {
    .rank-rating-square {
      background-color: $color-green;
    }
    .rank-rating {
      color: $color-green;
    }
  }
}

.rank-rating-square {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 12px;
  height: 12px;
  border-radius: 3px;
}

.rank-rating {
  font-size: 13px;
  font-weight: 700;
  line-height: 1;
}

@media (max-width: 576px) {
  .rank-thumbnail-wrapper {
    &::after {
      border-radius: 8px;
    }
  }

  .rank-thumbnail {
    border-radius: 8px;
  }

  .rank-number-wrapper {
    bottom: -12px;
    right: -6px;
  }

  .rank-number {
    width: 50px;
    height: 50px;

    &:not(:first-child) {
      margin-left: -22px;
    }

    &[data-number="1"] {
      + .rank-number {
        margin-left: -28px;
      }
    }
  }

  .rank-info-container {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
  }

  .rank-subtitle-wrapper {
    margin-top: 4px;
  }

  .rank-code-wrapper {
    top: 4px;
    left: 4px;
  }

  .rank-code {
    font-size: 12px;
    line-height: 22px;
    border-radius: 6px;
    padding: 0 7px;
  }

  .rank-subtitle-wrapper {
    flex-direction: column;
    align-items: flex-start;
  }

  .rank-rating-wrapper {
    margin-top: 4px;
    margin-left: 0;
  }
}
