.horizontal-videos-section {
  padding: 20px 60px;
  margin-bottom: 16px;
}

.horizontal-title-wrapper {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-bottom: 14px;
}

.horizontal-title {
  font-size: 20px;
  font-weight: 800;
  color: $color-white-01;
  letter-spacing: -0.2px;
}

.horizontal-videos-wrapper {
  position: relative;
  width: 100%;

  &.rank {
    .horizontal-prev-button,
    .horizontal-next-button {
      top: calc((100% - 65px) * 0.5);
    }
  }
}

.horizontal-video-item {
  cursor: pointer;
}

.horizontal-prev-button,
.horizontal-next-button {
  position: absolute;
  top: calc((100% - 57px) * 0.5);
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid $border-color-01;
  background-color: $color-background;
  box-shadow: 0 0 2px 0 rgba($color-white, 0.05);
  padding: 5px;
  z-index: 10;

  &:disabled {
    display: none;
  }

  &:hover {
    border: 1px solid $border-color-03;
    background-color: $color-white-09;
  }

  svg {
    width: 28px;
    height: 28px;

    path {
      fill: $color-white-02;
    }
  }
}

.horizontal-prev-button {
  left: -20px;
}

.horizontal-next-button {
  right: -20px;
}

@media (max-width: 1024px) {
  .horizontal-videos-section {
    padding: 20px 30px;
  }
}

@media (max-width: 576px) {
  .horizontal-videos-section {
    padding: 12px 0;
    margin-bottom: 12px;
  }

  .horizontal-title-wrapper {
    padding: 0 15px;
    margin-bottom: 12px;
  }

  .horizontal-title {
    font-size: 17px;
  }

  .horizontal-videos {
    padding: 0 15px;
  }

  .horizontal-prev-button,
  .horizontal-next-button {
    display: none;
  }
}
