.rank-thumbnail-container {
  position: relative;
  width: 100%;
  aspect-ratio: 2 / 3;
}

.rank-thumbnail-wrapper {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: transparent;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 14px;
    border: 1px solid $border-color-01;
  }
}

.rank-thumbnail {
  display: flex;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 14px;
}

.rank-number-wrapper {
  position: absolute;
  bottom: -14px;
  right: -8px;
  display: flex;
  z-index: 10;
}

.rank-number {
  position: relative;
  z-index: 10;

  &:not(:first-child) {
    margin-left: -32px;
    z-index: 9;
  }

  &[data-number="1"] {
    + .rank-number {
      margin-left: -40px;
      z-index: 9;
    }
  }
}

.rank-info-container {
  display: flex;
  align-items: flex-end;
  margin-top: 24px;
}

.rank-title-wrapper {
  flex: 1;
}

.rank-title {
  font-size: 15px;
  font-weight: 600;
  color: $color-white-01;
  line-height: 20px;
  letter-spacing: -0.2px;
}

.rank-subtitle {
  font-size: 13px;
  font-weight: 600;
  color: $color-white-04;
  letter-spacing: -0.2px;
  margin-top: 6px;

  & > span:not(:last-child) {
    margin-right: 8px;
  }
}

.rank-code-wrapper {
  flex: none;
  margin-left: 10px;
}

.rank-code {
  font-size: 14px;
  font-weight: 600;
  color: $color-white-04;
  border-radius: 6px;
  background-color: $color-white-09;
  padding: 6px 8px;
}

@media (max-width: 576px) {
  .rank-thumbnail-wrapper {
    &::after {
      border-radius: 8px;
    }
  }

  .rank-thumbnail {
    border-radius: 8px;
  }

  .rank-number-wrapper {
    bottom: -12px;
    right: -6px;
  }

  .rank-number {
    width: 50px;
    height: 50px;

    &:not(:first-child) {
      margin-left: -22px;
    }

    &[data-number="1"] {
      + .rank-number {
        margin-left: -28px;
      }
    }
  }

  .rank-info-container {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
  }

  .rank-subtitle {
    margin-top: 4px;
  }

  .rank-code-wrapper {
    display: none;
  }

  .rank-code {
    font-size: 13px;
  }
}
