// font
@import url(https://cdn.jsdelivr.net/gh/sun-typeface/SUIT/fonts/variable/woff2/SUIT-Variable.css);

// variable
$color-white: #ffffff;
$color-black: #0c0c0c;

$border-radius: 4px;

// common
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

html {
  font-size: 16px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

  font-family: "SUIT Variable", sans-serif;
  color: $color-black;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}

input {
  border: none;
  outline: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  margin: 0;

  color: $color-black;
  letter-spacing: -0.2px;
}

figure {
  margin: 0;
}
