.content-main {
  min-height: 100vh;
}

.banner-wrapper {
  position: relative;
  width: 100vw;

  .banner {
    width: 100%;
    height: 550px;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
      backdrop-filter: blur(5px);
    }

    .lazy-load-image-background {
      display: block;
      width: 100%;
      height: 100%;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      // object-position: top -150px left 50%;
    }
  }

  .main-info-wrapper {
    position: absolute;
    bottom: 60px;
    width: 100%;

    .main-info {
      display: flex;
      max-width: 1440px;
      padding: 0 60px;
      margin: 0 auto;

      & > div {
        display: flex;
        flex-direction: column;
        gap: 16px;
      }
    }

    .title-kr {
      font-size: 36px;
      font-weight: 700;
      line-height: 1;
      color: #fff;
    }

    .title-en {
      font-size: 14px;
      color: #fff;
    }

    .sub-info {
      display: flex;
      flex-direction: column;
      gap: 8px;

      & > div {
        display: flex;
        gap: 8px;
      }

      span {
        font-size: 14px;
        color: #fff;
      }
    }
  }
}

.info-wrapper {
  display: flex;
  gap: 32px;
  width: 100%;
  max-width: 1440px;
  padding: 30px 60px 60px;
  margin: 0 auto;

  .poster-wrapper {
    flex: 0 0 auto;
    position: relative;
    width: 280px;
    aspect-ratio: 2 / 3;

    .poster {
      position: absolute;
      width: 100%;
      height: 100%;
      border: 1px solid rgba(0, 0, 0, 0.1);
      border-radius: 4px;
      overflow: hidden;

      .lazy-load-image-background {
        display: block;
        width: 100%;
        height: 100%;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top 50% right 20%;
      }
    }
  }

  .info {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
  }

  .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #d9d9d9;
    padding: 15px 0;

    .rating-wrapper {
      position: relative;
      display: flex;
      flex-direction: column;
      cursor: pointer;

      .empty-rating {
        svg {
          color: #eeeeee;
        }
      }

      span {
        font-size: 12px;
        color: #8c8c8c;
        margin: 10px 0 0 6px;
      }

      .fill-rating {
        position: absolute;
        top: 0;
        left: 0;
        width: 0%;
        white-space: nowrap;
        overflow: hidden;
        // transition: width 0.25s ease;
        pointer-events: none;

        svg {
          color: gold;
        }
      }
    }

    .button-wrapper {
      display: flex;
      align-items: flex-end;
      gap: 10px;

      .like,
      .review {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 8px;
        // height: 45px;
        border-radius: 5px;
        padding: 0 20px;

        svg {
          color: #7e7e7e;
        }

        span {
          font-size: 15px;
          font-weight: 500;
          color: #7e7e7e;
        }
      }

      .like {
        &.active {
          svg {
            color: magenta;
          }

          span {
            color: magenta;
          }
        }
      }

      #likeText {
        font-size: 12px;
        font-weight: 500;
        color: #7e7e7e;
        margin: 10px 6px 0 0;
      }
    }
  }

  .bottom {
    margin: 20px 0 30px;
    height: 100%;

    p {
      font-size: 14px;
      font-weight: 500;
      color: #7e7e7e;
      line-height: 22px;
      white-space: pre-line;
    }
  }
}

.actor-wrapper,
.staff-warpper {
  width: 100%;
  max-width: 1440px;
  padding: 30px 60px 60px;
  margin: 0 auto;

  h3 {
    font-size: 24px;
    font-weight: 700;
  }

  .actors,
  .staffs {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0;
  }

  .actor,
  .staff {
    min-width: 200px;
    width: calc(25% - 10px);
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 10px 0;
    margin-right: 10px;
  }

  .image {
    position: relative;
    width: 54px;
    height: 54px;
    border-radius: 5px;
    overflow: hidden;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 5px;
      border: 1px solid rgba(0, 0, 0, 0.05);
      z-index: 10;
    }

    .lazy-load-image-background {
      display: block;
      width: 100%;
      height: 100%;

      img {
        display: flex;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .name-wrapper {
    display: flex;
    flex-direction: column;

    span {
      line-height: 22px;
    }

    .name {
      font-size: 16px;
    }

    .role {
      display: flex;
      align-items: center;
      gap: 8px;

      span {
        font-size: 14px;
        color: #8c8c8c;
      }
    }
  }
}

.review-wrapper {
  width: 100%;
  max-width: 1440px;
  padding: 30px 60px 60px;
  margin: 0 auto;

  .title {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 20px;

    h3 {
      font-size: 24px;
      font-weight: 700;
    }

    span {
      font-size: 15px;
      color: magenta;
    }
  }

  .reviews {
    display: grid;
    gap: 8px;
    grid-template-columns: repeat(4, minmax(0px, 1fr));

    .review {
      width: 100%;
      background-color: #f5f5f5;
      border-radius: 6px;
      padding: 0 12px;

      & > div:not(:last-child) {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      }

      .top {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      .rating {
        display: flex;
        align-items: center;
        gap: 4px;
        height: 26px;
        background-color: #fff;
        border-radius: 13px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        padding: 0 8px;
      }

      .content {
        padding: 10px 0;
        cursor: pointer;
      }

      .bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;

        & > span {
          font-size: 14px;
          color: rgba(0, 0, 0, 0.5);
        }
      }

      .like {
        display: flex;
        align-items: center;
        gap: 4px;
        padding: 10px 0;

        svg {
          color: magenta;
        }

        span {
          font-size: 14px;
          color: magenta;
        }
      }
    }
  }
}

.gallery-wrapper {
  width: 100%;
  max-width: 1440px;
  padding: 30px 60px 60px;
  margin: 0 auto;

  .title {
    margin-bottom: 20px;
  }

  h3 {
    font-size: 24px;
    font-weight: 700;
  }

  .photo {
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    overflow: hidden;
    cursor: pointer;
  }

  .lazy-load-image-background {
    display: flex !important;

    img {
      width: 100%;
      aspect-ratio: 16 / 9;
      object-fit: cover;
    }
  }
}

// 반응형
@media (max-width: 768px) {
  .info-wrapper {
    flex-direction: column;

    .poster-wrapper {
      order: 2;
      margin: 0 auto;
    }
  }
}
