.content-main {
  min-height: 100vh;
  overflow: hidden;
}

.banner-wrapper {
  position: relative;
  width: 100vw;

  .banner {
    width: 100%;
    height: 550px;
    background-image: url("/assets/no-image.png");
    background-size: cover;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
      // backdrop-filter: blur(5px);
    }

    .lazy-load-image-background {
      display: block;
      width: 100%;
      height: 100%;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top 20% left 50%;
    }
  }

  .main-info-wrapper {
    position: absolute;
    bottom: 60px;
    width: 100%;

    .main-info {
      display: flex;
      max-width: 1440px;
      padding: 0 60px;
      margin: 0 auto;

      & > div {
        display: flex;
        flex-direction: column;
        gap: 16px;
      }
    }

    .title-kr {
      font-size: 36px;
      font-weight: 700;
      line-height: 1;
      color: #fff;
    }

    .title-en {
      font-size: 14px;
      color: #fff;
    }

    .sub-info {
      display: flex;
      flex-direction: column;
      gap: 8px;

      & > div {
        display: flex;
        gap: 8px;
      }

      span {
        font-size: 14px;
        color: #fff;
      }
    }
  }
}

.info-wrapper {
  display: flex;
  align-items: flex-start;
  gap: 32px;
  width: 100%;
  max-width: 1440px;
  padding: 30px 60px 60px;
  margin: 0 auto;

  .poster-wrapper {
    flex: 0 0 auto;
    position: relative;
    width: 280px;
    aspect-ratio: 2 / 3;

    .poster {
      position: absolute;
      width: 100%;
      height: 100%;
      border: 1px solid rgba(0, 0, 0, 0.1);
      border-radius: 4px;
      background-image: url("/assets/no-image.png");
      background-size: cover;
      overflow: hidden;

      .lazy-load-image-background {
        display: block;
        width: 100%;
        height: 100%;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .info {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
  }

  .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #d9d9d9;
    padding: 15px 0;

    .rating-wrapper {
      position: relative;
      display: flex;
      flex-direction: column;
      cursor: pointer;

      .empty-rating {
        svg {
          color: #eeeeee;
        }
      }

      span {
        font-size: 12px;
        color: #8c8c8c;
        margin: 10px 0 0 6px;
      }

      .fill-rating {
        position: absolute;
        top: 0;
        left: 0;
        width: 0%;
        white-space: nowrap;
        overflow: hidden;
        // transition: width 0.25s ease;
        pointer-events: none;

        svg {
          color: gold;
        }
      }
    }

    .button-wrapper {
      display: flex;
      align-items: flex-end;
      gap: 10px;

      .like,
      .review {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 8px;
        // height: 45px;
        border-radius: 5px;
        padding: 0 20px;

        svg {
          color: #7e7e7e;
        }

        span {
          font-size: 15px;
          font-weight: 500;
          color: #7e7e7e;
        }
      }

      .like {
        &.active {
          svg {
            color: deeppink;
          }

          span {
            color: deeppink;
          }
        }
      }
    }
  }

  .my-review-wrapper {
    border-bottom: 1px solid #d9d9d9;
    padding: 20px 0;

    h4 {
      font-size: 12px;
      font-weight: 400;
      color: #8c8c8c;
      margin-bottom: 10px;
    }

    .my-review {
      display: flex;
      align-items: center;
      border-radius: 6px;
      border: 1px solid rgba(0, 0, 0, 0.1);
      padding: 20px;
    }

    .content {
      flex: 1;
      max-height: 60px;
      overflow: hidden;
      cursor: pointer;

      img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        border: 1px solid rgba(0, 0, 0, 0.1);
      }

      p {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        font-size: 15px;
        line-height: 20px;
        white-space: pre-wrap;
        margin: 0 16px;
      }
    }

    .button-wrapper {
      display: flex;
      align-items: center;
      color: #8c8c8c;
    }

    .delete,
    .update {
      display: flex;
      align-items: center;
      gap: 3px;
      padding: 15px 12px;

      svg {
        color: #8c8c8c;
      }

      span {
        color: #8c8c8c;
      }
    }
  }

  .bottom {
    margin: 20px 0 30px;
    height: 100%;

    p {
      font-size: 14px;
      font-weight: 500;
      color: #7e7e7e;
      line-height: 22px;
      word-break: keep-all;
      white-space: pre-wrap;
    }
  }
}

.crew-wrapper {
  width: 100%;
  max-width: 1440px;
  padding: 30px 60px 60px;
  margin: 0 auto;

  h3 {
    font-size: 24px;
    font-weight: 700;
  }

  .crews {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0;
  }

  .crew {
    min-width: 200px;
    width: calc(25% - 10px);
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 10px 0;
    margin-right: 10px;
  }

  .image {
    position: relative;
    width: 54px;
    height: 54px;
    border-radius: 5px;
    overflow: hidden;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 5px;
      border: 1px solid rgba(0, 0, 0, 0.05);
      z-index: 10;
    }

    .lazy-load-image-background {
      display: block;
      width: 100%;
      height: 100%;

      img {
        display: flex;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
      }
    }
  }

  .name-wrapper {
    display: flex;
    flex-direction: column;

    span {
      line-height: 22px;
    }

    .name {
      font-size: 16px;
    }

    .role {
      display: flex;
      align-items: center;
      gap: 8px;

      span {
        font-size: 14px;
        color: #8c8c8c;
      }
    }
  }
}

.review-wrapper {
  width: 100%;
  max-width: 1440px;
  padding: 30px 60px 60px;
  margin: 0 auto;

  .title {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 20px;

    h3 {
      font-size: 24px;
      font-weight: 700;
    }

    span {
      font-size: 15px;
      color: deeppink;
    }
  }

  .no-review {
    p {
      font-size: 14px;
      color: #8c8c8c;
    }
  }

  .reviews {
    display: grid;
    gap: 8px;
    grid-template-columns: repeat(4, minmax(0px, 1fr));

    .review {
      width: 100%;
      background-color: #f5f5f5;
      border-radius: 6px;
      padding: 0 12px;

      & > div:not(:last-child) {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      }

      .top {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      .rating {
        display: flex;
        align-items: center;
        gap: 4px;
        height: 26px;
        background-color: #fff;
        border-radius: 13px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        padding: 0 8px;
      }

      .middle {
        padding: 10px 0;
        cursor: pointer;

        p {
          font-size: 15px;
          line-height: 24px;
          white-space: pre-wrap;

          // 5줄 이상일때 생략
          display: -webkit-box;
          -webkit-line-clamp: 5;
          -webkit-box-orient: vertical;
          overflow: hidden;
        }
      }

      .bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;

        & > span {
          font-size: 14px;
          color: rgba(0, 0, 0, 0.5);
        }
      }

      .like {
        display: flex;
        align-items: center;
        gap: 4px;
        padding: 10px 0;

        svg {
          color: deeppink;
        }

        span {
          font-size: 14px;
          color: deeppink;
        }
      }
    }
  }
}

.gallery-wrapper {
  width: 100%;
  max-width: 1440px;
  padding: 30px 60px 60px;
  margin: 0 auto;

  .swiper-container {
    position: relative;
    width: 100%;

    .swiper-slide {
      aspect-ratio: 16 / 9;
      cursor: pointer;
    }

    .swiper-button-prev,
    .swiper-button-next {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      display: flex;
      align-items: center;
      justify-content: center;
      width: 34px;
      height: 34px;
      border-radius: 50%;
      background-color: #fff;
      box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
      padding: 5px;
      z-index: 10;
      cursor: pointer;

      &.swiper-button-disabled {
        display: none;
      }

      svg {
        color: rgba(0, 0, 0, 0.5);
      }
    }

    .swiper-button-prev {
      left: -17px;
    }

    .swiper-button-next {
      right: -17px;
    }

    .swiper-button-prev::after,
    .swiper-button-next::after {
      display: none;
    }

    .swiper-button-prev::after,
    .swiper-button-next::after {
      display: none;
    }
  }

  .title {
    margin-bottom: 20px;
  }

  h3 {
    font-size: 24px;
    font-weight: 700;
  }

  .photo {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-image: url("/assets/no-image.png");
    background-size: cover;
    overflow: hidden;
  }

  .lazy-load-image-background {
    display: flex !important;

    img {
      width: 100%;
      aspect-ratio: 16 / 9;
      object-fit: cover;
    }
  }
}

// 반응형
@media (max-width: 1280px) {
  .info-wrapper {
    .top {
      flex-direction: column;
      align-items: flex-start;

      .rating-wrapper {
        padding-bottom: 20px;
      }

      .button-wrapper {
        width: 100%;
        justify-content: space-between;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        padding-top: 20px;
      }
    }
  }
}

@media (max-width: 768px) {
  .info-wrapper {
    flex-direction: column-reverse;
    align-items: center;
  }
}
