// font
@import url(https://cdn.jsdelivr.net/gh/sun-typeface/SUIT/fonts/variable/woff2/SUIT-Variable.css);

// variable
$color-white: #ffffff;
$color-black: #0c0c0c;

$border-radius: 4px;

.wrapper {
  width: 100%;
  height: 100%;
  min-height: calc(var(--vh, 1vh) * 100);
  margin: 0 auto;
}

.header-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid rgba($color-black, 0.1);
  background-color: rgba($color-white, 0.7);
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);
  transition: all 0.2s ease-in-out;
  z-index: 100;

  &.transparent {
    background-color: transparent;
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
    border: unset;
    transition: all 0.2s ease-in-out;

    .header {
      color: $color-white;

      .left {
        li {
          a {
            opacity: 0.7;
          }

          &:not(:last-child)::after {
            opacity: 0.7;
          }
        }
      }

      .right {
        a {
          color: $color-white;
        }

        .search {
          background-color: rgba($color-black, 0.2);
          border: 1px solid rgba($color-white, 0.25);

          svg {
            opacity: 0.5;
          }

          input {
            color: $color-white;

            &::placeholder {
              color: $color-white;
              opacity: 0.7;
            }
          }
        }
      }

      .profile {
        .nickname {
          color: $color-white;
          opacity: 0.7;
        }
      }
    }

    .header-mobile {
      .right {
        svg {
          fill: $color-white;
        }
      }
    }
  }

  .header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1440px;
    padding: 10px 60px;
    margin: 0 auto;

    .left {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 40px;
      height: 100%;

      a {
        display: flex;
      }

      .logo {
        height: 40px;
        cursor: pointer;
      }

      ul {
        display: flex;
        font-size: 15px;
        letter-spacing: -0.2px;
      }

      li {
        position: relative;

        a {
          display: block;
          padding: 10px 15px;
          opacity: 0.5;
        }

        &:not(:last-child)::after {
          position: absolute;
          top: 50%;
          right: calc(-4.75px / 2);
          transform: translateY(-50%);
          content: "|";
          display: block;
          opacity: 0.5;
        }

        &.active a {
          opacity: 1;
        }
      }
    }

    .right {
      display: flex;
      justify-content: flex-end;
      align-items: center;

      a {
        font-size: 15px;
        color: $color-black;
        line-height: 1;
        letter-spacing: -0.2px;
        line-height: 40px;
        padding: 0 10px;
      }

      .search {
        display: flex;
        align-items: center;
        height: 40px;
        background-color: #f5f5f7;
        border-radius: 2px;
        padding: 0 30px 0 10px;
        margin-right: 10px;

        svg {
          opacity: 0.25;
        }

        input {
          font-size: 15px;
          color: $color-black;
          line-height: 1;
          letter-spacing: -0.2px;
          background-color: transparent;
          margin-left: 10px;

          &::placeholder {
            color: $color-black;
            opacity: 0.5;
          }
        }
      }
    }
  }

  .header-mobile {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 30px;
    margin: 0 auto;

    .left {
      a {
        display: flex;
      }
    }

    .right {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 4px;
      margin-right: -4px;

      svg {
        padding: 4px;
        cursor: pointer;
      }
    }
  }

  .header-search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 10px 15px;

    .search {
      flex: 1;
      display: flex;
      align-items: center;
      height: 40px;
      background-color: #f5f5f7;
      border-radius: 2px;
      padding: 0 30px 0 10px;
      margin-right: 10px;

      svg {
        opacity: 0.25;
      }

      input {
        width: 100%;
        font-size: 15px;
        color: $color-black;
        line-height: 1;
        letter-spacing: -0.2px;
        background-color: transparent;
        margin-left: 10px;

        &::placeholder {
          color: $color-black;
          opacity: 0.5;
        }
      }
    }

    .mobile-menu {
      padding: 4px;
      margin-right: -4px;
      cursor: pointer;
    }
  }
}

.main {
  max-width: 1440px;
  min-height: 100vh;
  padding: 24px 60px;
  margin: 0 auto;
  margin-top: 60px;
}

.footer-wrapper {
  background-color: $color-black;

  .footer {
    width: 100%;
    max-width: 1440px;
    padding: 20px 60px 40px;
    margin: 0 auto;
  }

  span {
    font-size: 13px;
    color: $color-white;
    opacity: 0.7;
  }
}

@media (max-width: 1024px) {
  .header-wrapper {
    .header {
      padding: 10px 30px;
    }
  }

  .main {
    padding: 24px 30px;
  }

  .footer-wrapper {
    .footer {
      padding: 20px 30px 40px;
    }
  }
}

@media (max-width: 576px) {
  .header-wrapper {
    .header {
      padding: 10px 15px;
    }

    .header-mobile {
      padding: 10px 15px;
    }
  }

  .main {
    padding: 24px 0;
  }

  .footer-wrapper {
    .footer {
      padding: 20px 15px 40px;
    }
  }
}
