.all-ranking-wrapper {
  padding: 12px 0 24px 0;
  margin-bottom: 42px;

  .title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;

    h2 {
      font-size: 22px;
      font-weight: 800;
      color: #0c0c0c;
      letter-spacing: -0.2px;
    }

    button.more {
      display: flex;
      align-items: center;
      font-size: 15px;
      color: #0c0c0c;
      line-height: 1;
      letter-spacing: -0.2px;
      opacity: 0.5;
    }
  }

  .img-wrapper {
    position: relative;
    width: 100%;
    aspect-ratio: 2 / 3;
    margin-bottom: 35px;

    .thumbnail {
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 4px;
      background-image: url("/assets/no-image.png");
      background-size: cover;

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 4px;
        border: 1px solid rgba(#0c0c0c, 0.05);
      }

      .lazy-load-image-background {
        display: block;
        width: 100%;
        height: 100%;
      }

      img {
        width: 100%;
        height: 100%;
        border-radius: 4px;
        object-fit: cover;
      }
    }

    .number {
      position: absolute;
      bottom: -35px;
      left: -5px;
      display: flex;

      img {
        position: relative;
        z-index: 1;
      }

      img:not(:first-child) {
        position: relative;
        margin-left: -18px;
        z-index: 0;
      }
    }
  }

  .info {
    display: flex;
    flex-direction: column;
    gap: 6px;

    .title {
      font-size: 16px;
      font-weight: 500;
      color: #0c0c0c;
      letter-spacing: -0.2px;
      line-height: 22px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .sub-title {
      display: flex;
      gap: 8px;
      font-size: 14px;
      font-weight: 500;
      color: #0c0c0c;
      letter-spacing: -0.2px;
      opacity: 0.8;
    }
  }

  .swiper-container {
    position: relative;
    width: 100%;

    .swiper-slide {
      cursor: pointer;
    }

    .swiper-button-prev,
    .swiper-button-next {
      position: absolute;
      // top: 33.333%;
      top: 37%;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 34px;
      height: 34px;
      border-radius: 50%;
      background-color: #fff;
      box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
      padding: 5px;
      z-index: 10;
      cursor: pointer;

      &.swiper-button-disabled {
        display: none;
      }

      svg {
        color: rgba(0, 0, 0, 0.5);
      }
    }

    .swiper-button-prev {
      left: -17px;
    }

    .swiper-button-next {
      right: -17px;
    }

    .swiper-button-prev::after,
    .swiper-button-next::after {
      display: none;
    }

    .swiper-button-prev::after,
    .swiper-button-next::after {
      display: none;
    }
  }
}

@media (max-width: 1024px) {
  .all-ranking-wrapper {
    margin-bottom: 36px;

    .img-wrapper {
      margin-bottom: 30px;

      .number {
        bottom: -31px;

        img {
          width: 45px;
          height: 45px;

          &:not(:first-child) {
            margin-left: -15px;
          }
        }
      }
    }

    .swiper-container {
      .swiper-button-prev,
      .swiper-button-next {
        top: 36%;
      }
    }
  }
}

@media (max-width: 576px) {
  .all-ranking-wrapper {
    .img-wrapper {
      margin-bottom: 25px;

      .number {
        bottom: -25px;

        img {
          width: 35px;
          height: 35px;

          &:not(:first-child) {
            margin-left: -12px;
          }
        }
      }
    }

    .info {
      gap: 2px;

      .title {
        font-size: 15px;
        line-height: 20px;
      }
    }

    .swiper-container {
      .swiper-button-prev,
      .swiper-button-next {
        display: none;
      }
    }
  }
}
