.people-main {
  max-width: 1440px;
  min-height: calc(100vh - 80px);
  // padding: 24px 60px;
  padding: 84px 60px 60px;
  margin: 0 auto;
  // margin-top: 60px;
}

.people-wrapper {
  width: 100%;
  margin-bottom: 8px;
}

.people {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 20px;

  .name {
    font-size: 30px;
    font-weight: 700;
    margin-top: 10px;
  }
}

@media (max-width: 1024px) {
  .people-main {
    padding: 84px 30px;
  }
}

@media (max-width: 576px) {
  .people-main {
    padding: 84px 0;
  }

  .people-wrapper {
    padding: 0 15px;
  }

  .people {
    .name {
      font-size: 20px;
    }
  }
}
