.people-image {
  position: relative;
  overflow: hidden;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.05);
    z-index: 10;
  }

  .lazy-load-image-background {
    display: block;
    width: 100%;
    height: 100%;

    img {
      display: flex;
      width: 100%;
      height: 100%;
      object-fit: cover;
      // object-position: top;
    }
  }
}
