.bar-rating-wrapper {
  position: relative;
  display: grid;

  span {
    grid-column: 2;
    grid-row: 1;
    display: flex;
    align-items: flex-start;
    font-size: 13px;
    color: #ffffff;
  }

  .bar-rating {
    position: relative;
    grid-column: 2;
    grid-row: 2;
    display: flex;
    align-items: flex-end;

    &[data-rating="1"] {
      .bar:nth-child(-n + 1) {
        opacity: 1;
        background-color: #ff6874;
      }
    }
    &[data-rating="2"] {
      .bar:nth-child(-n + 2) {
        opacity: 1;
        background-color: #ff6874;
      }
    }
    &[data-rating="3"] {
      .bar:nth-child(-n + 3) {
        opacity: 1;
        background-color: #ffbd3f;
      }
    }
    &[data-rating="4"] {
      .bar:nth-child(-n + 4) {
        opacity: 1;
        background-color: #00ce7a;
      }
    }
    &[data-rating="5"] {
      .bar:nth-child(-n + 5) {
        opacity: 1;
        background-color: #00ce7a;
      }
    }
  }

  .bar-rating-image {
    position: relative;
    grid-column: 1;
    grid-row: 1 / 3;
    width: 45px;
    height: 45px;
    border-radius: 12px;
    background-color: transparent;
    margin-right: 10px;
    overflow: hidden;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 12px;
      border: 1px solid rgba(255, 255, 255, 0.5);
      pointer-events: none;
    }

    img {
      display: flex;
      width: 100%;
      height: 100%;
      pointer-events: none;
    }
  }

  .bars {
    display: grid;
    grid-template-columns: repeat(5, auto);
    gap: 4px;
    cursor: pointer;
  }

  .bar {
    width: 30px;
    height: 12px;
    border-radius: 2px;
    opacity: 0.2;

    &:first-child {
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
    }

    &:last-child {
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
    }

    &[data-rating="1"],
    &[data-rating="2"] {
      background-color: #ff6874;
    }
    &[data-rating="3"] {
      background-color: #ffbd3f;
    }
    &[data-rating="4"],
    &[data-rating="5"] {
      background-color: #00ce7a;
    }
  }
}

@media (max-width: 1280px) {
  .bar-rating-wrapper {
    // padding-bottom: 20px;
  }
}

@media (max-width: 576px) {
  .bar-rating-wrapper {
    span {
      text-align: center;
    }
  }
}
