.search-main {
  min-height: calc(100vh - 80px);
  padding-top: 60px;
  padding-bottom: 60px;
}

.search-result {
  width: 100%;
  background-color: rgb(247, 247, 247);
  padding: 8px 0;

  p {
    width: 100%;
    max-width: 1440px;
    padding: 0 60px;
    margin: 0 auto;
    color: rgb(116, 116, 123);
    font-size: 15px;
    font-weight: 700;
    letter-spacing: -0.3px;
    line-height: 26px;
  }
}

.search-contents {
  max-width: 1440px;
  padding: 12px 60px;
  margin: 0 auto;

  .empty {
    width: 100%;
    height: 100%;
    text-align: center;
    margin-top: 120px;

    img {
      width: 300px;
      height: auto;
      opacity: 0.7;
    }

    .title {
      font-size: 17px;
      color: #a0a0a0;
      line-height: 20px;
      white-space: pre-wrap;
      margin-top: 20px;

      em {
        color: #8c8c8c;
        font-weight: 700;
        font-style: normal;
      }
    }

    .sub-title {
      font-size: 15px;
      color: #a0a0a0;
      line-height: 20px;
      white-space: pre-wrap;
      margin-top: 6px;
    }
  }
}

@media (max-width: 1024px) {
  .search-result {
    p {
      padding: 0 30px;
    }
  }

  .search-contents {
    padding: 12px 30px;
  }
}

@media (max-width: 768px) {
  .search-result {
    display: none;
  }
}

@media (max-width: 576px) {
  .search-contents {
    padding: 12px 0;
  }
}
