.favorite-main {
  min-height: calc(100vh - 80px);
  background: rgb(248, 248, 248);
  padding-top: 60px;
}

.favorite-wrapper {
  max-width: 680px;
  padding: 0 0 100px;
  margin: 40px auto 0px;
}

.favorite-form {
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #fff;
  padding: 20px;

  & > h2 {
    font-size: 17px;
    text-align: center;
    line-height: 40px;
  }

  & > p {
    font-size: 14px;
    color: #777777;
    text-align: center;
    margin-bottom: 20px;

    em {
      font-weight: 700;
      font-style: normal;
      color: #0c0c0c;
      text-decoration: underline;
    }
  }

  button[type="submit"] {
    width: 100%;
    height: 48px;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    border-radius: 4px;
    background-color: #0c0c0c;
    margin-top: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
}

.favorite-content {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);

  .card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-radius: 4px;
    background-color: #fff;
    padding: 10px;
    overflow: hidden;
    cursor: pointer;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 4px;
      border: 1px solid rgba(0, 0, 0, 0.1);
      z-index: 10;
      pointer-events: none;
    }

    &.active {
      background-color: rgba(deeppink, 0.1);

      &::after {
        border-color: rgba(deeppink, 0.1);
      }

      .check {
        background-color: #000;

        img {
          opacity: 1;
          filter: invert(1);
        }
      }
    }
  }

  .content {
    width: 100%;
    text-align: center;

    img {
      display: flex;
      width: 100%;
      object-fit: contain;
      border-radius: 4px;
    }

    .subtitle {
      font-size: 13px;
      color: #8c8c8c;
      margin-top: 16px;
    }

    .title {
      font-size: 17px;
      font-weight: 700;
      margin-top: 2px;
      margin-bottom: 30px;
    }
  }

  .check {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.1);

    img {
      opacity: 0.3;
    }
  }
}

@media (max-width: 767px) {
  .favorite-main {
    background-color: #fff;
  }

  .favorite-wrapper {
    width: 100%;
    padding: 0;
    margin: 20px auto 0;
  }

  .favorite-form {
    border-radius: unset;
    border: none;
    padding: 0 15px 40px;
  }

  .favorite-content {
    gap: 15px;
    grid-template-columns: repeat(2, 1fr);
  }
}
