.videos-wrapper {
  padding: 12px 0 24px 0;

  .title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;

    h2 {
      font-size: 22px;
      font-weight: 800;
      color: #0c0c0c;
      letter-spacing: -0.2px;
    }

    button.more {
      display: flex;
      align-items: center;
      font-size: 15px;
      color: #0c0c0c;
      line-height: 1;
      letter-spacing: -0.2px;
      opacity: 0.5;
    }
  }

  .list-wrapper {
    position: relative;
    display: grid;
    grid-template-columns: repeat(5, minmax(0px, 1fr));
    gap: 60px 12px;
    width: 100%;
  }

  .img-wrapper {
    position: relative;
    width: 100%;
    // height: 0px;
    // padding-bottom: 145.37%;
    aspect-ratio: 2 / 3;
    margin-bottom: 10px;

    .thumbnail {
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 4px;
      background-color: #f5f5f7;

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 4px;
        border: 1px solid rgba(#0c0c0c, 0.05);
      }

      .lazy-load-image-background {
        display: block;
        width: 100%;
        height: 100%;
      }

      img {
        width: 100%;
        height: 100%;
        border-radius: 4px;
        object-fit: cover;
      }
    }

    .number {
      position: absolute;
      bottom: -35px;
      left: -5px;

      img {
        position: relative;
        z-index: 1;
      }

      img:not(:first-child) {
        position: relative;
        margin-left: -18px;
        z-index: 0;
      }
    }
  }

  .info {
    .title {
      font-size: 16px;
      font-weight: 500;
      color: #0c0c0c;
      letter-spacing: -0.2px;
      line-height: 22px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-bottom: 6px;
    }

    .sub-title {
      font-size: 14px;
      font-weight: 500;
      color: #0c0c0c;
      letter-spacing: -0.2px;
      opacity: 0.8;

      & > span:not(:last-child) {
        margin-right: 8px;
      }
    }
  }
}

@media (max-width: 1024px) {
  .videos-wrapper {
    .list-wrapper {
      grid-template-columns: repeat(4, minmax(0px, 1fr));
      gap: 40px 12px;
    }
  }
}

@media (max-width: 768px) {
  .videos-wrapper {
    .list-wrapper {
      grid-template-columns: repeat(3, minmax(0px, 1fr));
      gap: 40px 10px;
    }

    .info {
      .title {
        font-size: 15px;
        line-height: 20px;
        margin-bottom: 2px;
      }
    }
  }
}

@media (max-width: 576px) {
  .videos-wrapper {
    padding: 12px 15px 24px;

    .list-wrapper {
      gap: 40px 8px;
    }
  }
}
