// TODO: 스크롤바 커스텀
*::-webkit-scrollbar {
  display: none;
}

.detail-main {
  min-height: 100vh;
  // min-height: calc(100vh - 80px);
  background-color: #05151e;
  overflow: hidden;
}

.detail-info-wrapper {
  position: relative;
  width: 100vw;

  .background-image {
    width: 100%;
    height: 700px;
    background-color: transparent;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: calc(50% + 72.5px);
      background: linear-gradient(180deg, rgba(#05151e, 0) 0%, rgba(#05151e, 1) 82%);
      margin-bottom: -72.5px;
      pointer-events: none;
    }

    .lazy-load-image-background {
      width: 100%;
      height: 100%;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top 20% left 50%;
    }
  }

  .main-info-wrapper {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-bottom: 92.5px;

    .main-info {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      max-width: 1440px;
      padding: 0 60px;
      margin: 0 auto;
    }

    .info-right {
      flex: 1;
      margin-right: 24px;
    }

    .title-og {
      font-size: 18px;
      font-weight: 600;
      color: #ffffff;
      word-break: keep-all;
      margin-bottom: 2px;
    }

    .title-kr {
      font-size: 45px;
      font-weight: 800;
      color: #ffffff;
      word-break: keep-all;
    }

    .info-genre {
      display: flex;
      gap: 6px;
      flex-wrap: wrap;
      margin-top: 12px;

      a {
        flex: 0 0 auto;
        display: block;
        font-size: 13px;
        font-weight: 600;
        color: #ffffff;
        padding: 6px 8px;
        background-color: rgba(255, 255, 255, 0.2);
        border-radius: 6px;
        border: 1px solid rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(8px);
      }
    }

    .info-button {
      display: flex;
      gap: 8px;

      .button-icon {
        display: block;
        width: 45px;
        height: 45px;
        background-repeat: no-repeat;
        background-size: contain;
      }

      .like .button-icon {
        background-image: url("/assets/button/outline-heart.svg");
        &:hover,
        &.active {
          background-image: url("/assets/button/fill-heart.svg");
        }
      }
      .collection .button-icon {
        background-image: url("/assets/button/outline-folder.svg");
        &:hover,
        &.active {
          background-image: url("/assets/button/fill-folder.svg");
        }
      }
      .review .button-icon {
        background-image: url("/assets/button/outline-pen.svg");
        &:hover {
          background-image: url("/assets/button/fill-pen.svg");
        }
      }
    }
  }

  .sub-info-wrapper {
    position: absolute;
    bottom: 0;
    transform: translateY(50%);
    width: 100%;
    cursor: pointer;

    .sub-info {
      display: flex;
      align-items: center;
      gap: 12px;
      max-width: 1440px;
      padding: 0 60px;
      margin: 0 auto;

      .swiper-slide {
        flex: 1;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-width: 210px;
        height: 145px;
        border-radius: 24px;
        background-color: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(8px);
        padding: 20px;
      }

      .sub-title {
        position: absolute;
        top: 50%;
        left: 20px;
        transform: translateY(-50%) scale(-1, -1);
        height: 100%;
        font-size: 14px;
        font-weight: 600;
        color: #ffffff;
        text-align: center;
        writing-mode: vertical-lr;
        text-orientation: sideways;
        opacity: 0.5;
      }

      .sub-content {
        font-size: 32px;
        font-weight: 800;
        color: #ffffff;
        text-align: center;
        word-break: keep-all;
      }

      .info-rating {
        .sub-content {
          // font-size: 45px;
        }

        &[data-index="0"] {
          .sub-content {
            font-size: 32px;
            opacity: 0.5;
          }
        }
        &[data-index="1"],
        &[data-index="2"] {
          .sub-content {
            color: #ff6874;
          }
        }
        &[data-index="3"] {
          .sub-content {
            color: #ffbd3f;
          }
        }
        &[data-index="4"],
        &[data-index="5"] {
          .sub-content {
            color: #00ce7a;
          }
        }

        // .sub-content {
        //   color: #ffffff;
        // }

        // &[data-index="1"],
        // &[data-index="2"] {
        //   background-color: rgba(#ff6874, 0.5);
        // }
        // &[data-index="3"] {
        //   background-color: rgba(#ffbd3f, 0.5);
        // }
        // &[data-index="4"],
        // &[data-index="5"] {
        //   background-color: rgba(#00ce7a, 0.5);
        // }
      }

      .info-release {
        gap: 2px;

        .sub-content {
          &.date {
            font-size: 14px;
            font-weight: 600;
            opacity: 0.5;
          }
        }
      }

      .info-country {
        gap: 6px;

        &[data-index="0"] {
          .sub-content {
            font-size: 32px;
            opacity: 0.5;
          }
        }
        &[data-index]:not([data-index="0"], [data-index="1"]) {
          .sub-content {
            font-size: 18px;
          }
        }
      }

      .info-production {
        padding: 0;

        .sub-contents {
          display: flex;
          flex-direction: column;
          align-items: center;
          // gap: 6px;
          gap: 12px;
          max-width: 60%;
          text-align: center;
          padding: 20px 0;
          overflow-y: scroll;
        }

        .sub-content {
          display: block;
          font-size: 18px;
          color: #ffffff;
          text-align: center;
          white-space: wrap;
          word-break: normal;
        }

        &[data-index="0"] {
          .sub-content {
            font-size: 32px;
            opacity: 0.5;
          }
        }
      }

      .info-runtime {
        .sub-content {
          max-width: 65%;

          &:empty {
            color: red;
          }
        }
      }
    }
  }
}

.detail-main-wrapper {
  width: 100%;
  max-width: 1440px;
  padding-top: 97.5px;
  margin: 0 auto;
}

.detail-content-wrapper {
  display: grid;
  grid-template-columns: auto 1fr auto;
  // gap: 24px;
  gap: 40px;
  padding: 20px 60px;

  .poster-wrapper {
    grid-column: 1;

    .poster {
      position: relative;
      display: flex;
      width: 280px;
      // aspect-ratio: 2 / 3;
      // border-radius: 4px;
      border-radius: 14px;
      background-color: transparent;
      overflow: hidden;

      // &::after {
      //   content: "";
      //   position: absolute;
      //   top: 0;
      //   left: 0;
      //   width: 100%;
      //   height: 100%;
      //   border-radius: 4px;
      //   border: 1px solid rgba(255, 255, 255, 0.1);
      //   pointer-events: none;
      // }

      img {
        display: flex;
        width: 100%;
        // height: 100%;
        // object-fit: cover;
        object-fit: contain;
      }
    }
  }

  .content-wrapper {
    grid-column: 2;
  }

  .more-wrapper {
    grid-column: 3;
  }

  .content-wrapper,
  .more-wrapper {
    display: flex;
    flex-direction: column;

    .my-review-wrapper,
    .synopsis-wrapper,
    .rating-wrapper,
    .platform-wrapper {
      h4 {
        font-size: 16px;
        font-weight: 600;
        color: #828a8e;
        margin-bottom: 20px;
      }
    }

    .my-review-wrapper {
      padding-bottom: 30px;

      .my-review {
        display: flex;
        align-items: center;
        // border-radius: 6px;
        border-radius: 14px;
        background-color: #122129;
        padding: 20px;
      }

      .content {
        flex: 1;
        cursor: pointer;

        img {
          width: 60px;
          height: 60px;
          border-radius: 50%;
          border: 1px solid rgba(255, 255, 255, 0.1);
        }

        p {
          font-size: 15px;
          color: #ffffff;
          line-height: 22px;
          white-space: pre-wrap;
          margin: 0 16px;

          // 3줄 이상일때 생략
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          overflow: hidden;
        }
      }

      .button-wrapper {
        display: flex;
        align-items: center;
        color: rgba(255, 255, 255, 0.5);
      }

      .delete,
      .update {
        display: flex;
        align-items: center;
        padding: 15px 12px;
        opacity: 0.5;

        &:hover {
          opacity: 1;
        }

        img {
          width: 18px;
          height: 18px;
          object-fit: contain;
        }

        span {
          color: #ffffff;
          line-height: 18px;
          margin-left: 3px;
        }
      }
    }

    .my-review-wrapper ~ .synopsis-wrapper {
      padding-top: 20px;
    }

    .synopsis-wrapper {
      p {
        font-size: 14px;
        color: #ffffff;
        line-height: 22px;
        white-space: pre-wrap;
      }
    }

    .rating-wrapper {
      position: relative;
      display: flex;
      flex-direction: column;
      padding-bottom: 20px;

      .my-rating {
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        align-items: baseline;
        gap: 6px;

        span {
          font-size: 14px;
          font-weight: 600;
          color: #ffffff;
          line-height: 1;

          &.number {
            font-size: 24px;
            font-weight: 800;
          }

          &[data-index="0"] {
            opacity: 0.2;
          }
          &[data-index="1"],
          &[data-index="2"] {
            color: #ff6874;
          }
          &[data-index="3"] {
            color: #ffbd3f;
          }
          &[data-index="4"],
          &[data-index="5"] {
            color: #00ce7a;
          }
        }
      }
    }

    .platform-wrapper {
      padding-top: 20px;

      .platforms {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        // display: flex;
        // flex-wrap: wrap;
        // gap: 10px;

        button {
          position: relative;
          width: 67px;
          height: 67px;
          border-radius: 12px;
          overflow: hidden;

          // &::after {
          //   content: "";
          //   position: absolute;
          //   top: 0;
          //   left: 0;
          //   width: 100%;
          //   height: 100%;
          //   border-radius: 12px;
          //   border: 1px solid rgba(255, 255, 255, 0.1);
          //   pointer-events: none;
          // }

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }
}

.cast-wrapper {
  width: 100%;
  max-width: 1440px;
  padding: 20px 60px;
  margin: 0 auto;

  h4 {
    font-size: 16px;
    font-weight: 600;
    color: #828a8e;
    margin-bottom: 20px;
  }

  .swiper-container {
    position: relative;

    &[data-length="1"],
    &[data-length="2"],
    &[data-length="3"],
    &[data-length="4"] {
      .swiper-wrapper {
        grid-template-rows: unset;
      }
    }

    .swiper-wrapper {
      display: grid;
      grid-template-rows: repeat(2, 1fr);
      grid-auto-flow: column;
    }

    .swiper-button-prev,
    .swiper-button-next {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      background-color: rgba(255, 255, 255, 0.1);
      backdrop-filter: blur(8px);
      box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
      padding: 5px;
      z-index: 10;
      cursor: pointer;

      &.swiper-button-disabled {
        display: none;
      }

      &:hover {
        background-color: rgba(255, 255, 255, 0.25);
      }

      img {
        width: 24px;
        height: 24px;
        object-fit: contain;
      }
    }

    .swiper-button-prev {
      left: -17px;
    }

    .swiper-button-next {
      right: -17px;
    }

    .swiper-button-prev::after,
    .swiper-button-next::after {
      display: none;
    }

    .swiper-button-prev::after,
    .swiper-button-next::after {
      display: none;
    }
  }

  .cast {
    display: flex;
    align-items: center;
    padding: 6px 0;
    margin-right: 12px;
  }

  .people-image {
    // border-radius: 18px;
    border-radius: 50%;
    margin-right: 12px;

    &::after {
      // border-radius: 18px;
      border-radius: 50%;
    }
  }

  .name-wrapper {
    display: flex;
    flex-direction: column;

    .name {
      font-size: 16px;
      color: #ffffff;
      margin-bottom: 4px;
    }

    .role {
      span {
        font-size: 14px;
        color: #828a8e;
        overflow: hidden;

        &:not(:last-child) {
          margin-right: 8px;
        }
      }
    }
  }
}

.gallery-wrapper {
  width: 100%;
  max-width: 1440px;
  padding: 20px 60px;
  margin: 0 auto;

  h4 {
    font-size: 16px;
    font-weight: 600;
    color: #828a8e;
    margin-bottom: 20px;
  }

  .swiper-container {
    position: relative;
    width: 100%;

    .swiper-slide {
      aspect-ratio: 16 / 9;
      cursor: pointer;
    }

    .swiper-button-prev,
    .swiper-button-next {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      background-color: rgba(255, 255, 255, 0.1);
      backdrop-filter: blur(8px);
      box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
      padding: 5px;
      z-index: 10;
      cursor: pointer;

      &.swiper-button-disabled {
        display: none;
      }

      &:hover {
        background-color: rgba(255, 255, 255, 0.25);
      }

      img {
        width: 24px;
        height: 24px;
        object-fit: contain;
      }
    }

    .swiper-button-prev {
      left: -17px;
    }

    .swiper-button-next {
      right: -17px;
    }

    .swiper-button-prev::after,
    .swiper-button-next::after {
      display: none;
    }

    .swiper-button-prev::after,
    .swiper-button-next::after {
      display: none;
    }
  }

  .photo {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    // border-radius: 4px;
    border-radius: 14px;
    background-color: transparent;
    overflow: hidden;

    // &::after {
    //   content: "";
    //   position: absolute;
    //   top: 0;
    //   left: 0;
    //   width: 100%;
    //   height: 100%;
    //   border-radius: 4px;
    //   border: 1px solid rgba(255, 255, 255, 0.1);
    //   pointer-events: none;
    // }

    img {
      display: flex;
      width: 100%;
      aspect-ratio: 16 / 9;
      object-fit: cover;
    }
  }
}

.review-wrapper {
  width: 100%;
  max-width: 1440px;
  padding: 30px 60px 60px;
  margin: 0 auto;

  .title {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 20px;

    h4 {
      font-size: 16px;
      font-weight: 600;
      color: #828a8e;
    }

    span {
      font-size: 15px;
      color: #ff0090;
    }
  }

  .no-review {
    text-align: center;

    p {
      font-size: 15px;
      color: #828a8e;
      margin-bottom: 12px;
    }

    button {
      font-size: 16px;
      font-weight: 600;
      color: #ffffff;
      line-height: 1.2;
      border-radius: 6px;
      background: #fc00ff;
      background: -webkit-linear-gradient(to right, rgba(#00dbde, 0.75), rgba(#fc00ff, 0.75));
      background: linear-gradient(to right, rgba(#00dbde, 0.75), rgba(#fc00ff, 0.75));
      padding: 10px 20px;
    }
  }

  .reviews {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
  }

  .review {
    display: flex;
    flex-direction: column;
    background-color: #122129;
    // border-radius: 6px;
    border-radius: 14px;
    padding: 0 12px;

    & > div:not(:last-child) {
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }

    .top {
      display: flex;
      align-items: center;
      justify-content: space-between;

      span {
        color: #ffffff;
      }

      .nickname {
        // 1줄 이상일때 생략
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
    }

    .rating {
      display: flex;
      align-items: center;
      margin-left: 12px;

      span {
        color: #ffffff;
        margin-left: 8px;
      }

      .bars {
        display: flex;
        align-items: center;
        gap: 4px;

        .bar {
          width: 12px;
          height: 12px;
          border-radius: 2px;
        }

        &[data-index="1"],
        &[data-index="2"] {
          .bar {
            background-color: #ff6874;
          }
        }
        &[data-index="3"] {
          .bar {
            background-color: #ffbd3f;
          }
        }
        &[data-index="4"],
        &[data-index="5"] {
          .bar {
            background-color: #00ce7a;
          }
        }
      }
    }

    .middle {
      flex: 1;
      padding: 10px 0;
      cursor: pointer;

      p {
        font-size: 15px;
        color: #ffffff;
        line-height: 22px;
        white-space: pre-wrap;

        // 5줄 이상일때 생략
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
    }

    .bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;

      & > span {
        font-size: 14px;
        color: #828a8e;
      }
    }

    .like {
      display: flex;
      align-items: center;
      gap: 6px;
      padding: 10px 0;

      span {
        font-size: 14px;
        color: #ff0090;
      }
    }
  }
}

// 반응형
@media (max-width: 1280px) {
  .detail-info-wrapper {
    .main-info-wrapper {
      .main-info {
        flex-direction: column-reverse;
        align-items: flex-start;
      }

      .info-left {
        display: flex;
        justify-content: flex-end;
        width: 100%;
      }
    }
  }

  .cast-wrapper {
    .swiper-container {
      &[data-length="4"] {
        .swiper-wrapper {
          grid-template-rows: repeat(2, 1fr);
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .detail-info-wrapper {
    .main-info-wrapper {
      .main-info {
        padding: 0 30px;
      }
    }

    .sub-info-wrapper {
      .sub-info {
        padding: 0 30px;
      }
    }
  }

  .detail-content-wrapper {
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    padding: 20px 30px;

    .poster-wrapper {
      grid-column: 1;
      grid-row: 1;
    }

    .content-wrapper {
      grid-column: 1 / 3;
      grid-row: 2;
    }

    .more-wrapper {
      grid-column: 2;
      grid-row: 1;

      .platform-wrapper {
        .platforms {
          display: flex;
          flex-wrap: wrap;
        }
      }
    }
  }

  .cast-wrapper {
    padding: 20px 30px;

    .swiper-container {
      &[data-length="3"] {
        .swiper-wrapper {
          grid-template-rows: repeat(2, 1fr);
        }
      }
    }
  }

  .gallery-wrapper {
    padding: 20px 30px;
  }

  .review-wrapper {
    padding: 20px 30px 60px;

    .reviews {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media (max-width: 768px) {
  .detail-info-wrapper {
    .main-info-wrapper {
      margin-bottom: 70px;

      .title-kr {
        font-size: 38px;
      }
    }

    .sub-info-wrapper {
      .sub-info {
        .swiper-slide {
          min-width: 160px;
          height: 100px;
          padding: 16px;
        }

        .sub-title {
          left: 16px;
          font-size: 13px;
        }

        .sub-content {
          font-size: 24px;
        }

        .info-rating {
          &[data-index="0"] {
            .sub-content {
              font-size: 24px;
            }
          }
        }
      }
    }
  }

  .detail-main-wrapper {
    padding-top: 70px;
  }

  .detail-content-wrapper {
    grid-template-columns: 1fr;
    padding: 20px 30px;

    .poster-wrapper {
      grid-column: 1;
      grid-row: 3;
      margin: 0 auto;
    }

    .content-wrapper {
      grid-column: 1;
      grid-row: 2;
    }

    .more-wrapper {
      grid-column: 1;
      grid-row: 1;

      .platform-wrapper {
        .platforms {
          button {
            width: 60px;
            height: 60px;
          }
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .detail-info-wrapper {
    .main-info-wrapper {
      margin-bottom: 60px;

      .main-info {
        padding: 0 15px;
      }

      .title-kr {
        font-size: 32px;
      }
    }

    .sub-info-wrapper {
      .sub-info {
        padding: 0 15px;

        .swiper-slide {
          min-width: 120px;
          height: 80px;
          border-radius: 18px;
          padding: 0;
        }

        .sub-title {
          left: 12px;
          font-size: 12px;
        }

        .sub-content {
          font-size: 18px;
        }

        .info-rating {
          &[data-index="0"] {
            .sub-content {
              font-size: 18px;
            }
          }
        }

        .info-release {
          .sub-content {
            &.date {
              font-size: 12px;
            }
          }
        }

        .info-production {
          .sub-contents {
            max-width: 50%;
            padding: 12px 0;
          }

          .sub-content {
            font-size: 14px;
          }
        }
      }
    }
  }

  .detail-main-wrapper {
    padding-top: 60px;
  }

  .detail-content-wrapper {
    padding: 20px 15px;

    .content-wrapper {
      .my-review-wrapper {
        .my-review {
          flex-direction: column;
          gap: 10px;
        }

        .content {
          p {
            margin: 0;
          }
        }

        .delete,
        .update {
          padding: 5px 15px;
        }
      }
    }
  }

  .cast-wrapper {
    padding: 20px 0;

    .swiper-container {
      &[data-length="2"] {
        .swiper-wrapper {
          grid-template-rows: repeat(2, 1fr);
        }
      }
    }
  }

  .gallery-wrapper {
    padding: 20px 0;
  }

  .review-wrapper {
    padding: 20px 15px 60px;

    .no-review {
      padding: 0 15px;
    }

    .reviews {
      grid-template-columns: repeat(1, 1fr);
      gap: 10px;
    }
  }

  .cast-wrapper,
  .gallery-wrapper {
    h4 {
      padding-left: 15px;
    }

    .swiper-container {
      .swiper {
        padding: 0 15px;
      }

      .swiper-button-prev,
      .swiper-button-next {
        display: none;
      }
    }
  }
}
